# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
out/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
mongodb-data/
*.sqlite
*.db

# OS
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
